@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  background-color: #f8f8f8;
}

.table_title{
  font-size: 20px;
  color: #5932EA;
  font-weight: 1000;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  margin-top: 30px;
  background-color: #5932EA;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  background-color: #5932EA;
  color: #fff;
}

.brand {
  flex-grow: 1;
  padding: 10px 40px;
  border-right: 1px solid #977ef2;
  text-align: center;
  font-size: 38.59px;
  font-weight: bold;
}

.main-navigation {
  flex-grow: 10;
  display: flex;
  align-items: center;
}

.main-navigation>.title {
  text-decoration: none;
  color: #fff;
  padding: 6px 40px;
  border-right: 1px solid #977ef2;
}

.main-navigation>.desc {
  padding: 0px 40px;
}

.main-navigation>.desc>.desc-title {
  font-size: 14px;
}

.main-navigation>.desc>.desc-subtitle {
  font-size: 14px;
  color: #977ef2;
}

.img-flag {
  flex-grow: 1;
  text-align: center;
  padding: 10px 50px;
}

.img-flag img {
  height: 50px;
}

.container {
  width: 95%;
  overflow: hidden;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.table {
  width: 100%;
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: right;
  /* border: 1px solid #ddd; */
  border-collapse: collapse;
  padding: 7px 15px;
}

.table th:first-child,
.table td:first-child {
  text-align: left;
}

.table tr:last-child td:first-child {
  border-radius: 0 0 0 9px;
  border-collapse: separate;
}

.table tr:last-child td:last-child {
  border-radius: 0 0 9px 0;
  border-collapse: separate;
}

.table tr.column-default {
  border-bottom: 1px solid transparent !important;
}

.table tr.column-title {
  background-color: #f6f4feff;
  font-weight: bold;
}

.table tr.column-highlight {
  color: #5932EA;
  font-weight: bold;
}

.table tr:not(.column-highlight):not(.column-title) {
  border-bottom: 0.13rem solid #eee;
}

.colspan-title {
  text-align: right;
}

.map {
  width: 100%;
}

/* map styles */
#map {
  margin-top: 30px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.jvm-series-container.jvm-series-v {
  top: auto;
  bottom: 30px !important;
}

.jvm-series-container {
  left: 15px;
}

.jvm-series-container .jvm-legend {
  background-color: transparent;
  border: none !important;
  border-radius: 0;
  box-shadow: none;
}

.jvm-series-container .jvm-legend .jvm-legend-title {
  border-bottom: 0;
}

.jvm-legend-tick .jvm-legend-tick-sample {
  height: 20px !important;
  border-radius: 1px !important;
}

/* Media Queries All Screen */
/* mobile */
@media screen and (max-width: 648px) {
  .table {
    font-size: 10px;
  }
  .table tr:not(.column-highlight):not(.column-title) {
    border-bottom: 0.13rem solid #eee;
  }

  .desc {
    display: none;
  }
  .brand {
    padding: 5px 20px;
    border-right: 1px solid #977ef2;
    text-align: center;
    font-size: 18.59px;
    font-weight: bold;
  }

  .img-flag {
    flex-grow: 1;
    text-align: center;
    padding: 5px 15px;
    margin-top: 6px;
    align-self: center;
  }
  
  .img-flag img {
    height: 30px;
  }

  .main-navigation>.title {
    text-decoration: none;
    color: #fff;
    padding: 6px 20px;
    border-right: 0px solid #977ef2;
  }

  #map {
    display: none;
  }

  .footer-content {
    flex-wrap: wrap;
    font-size: 10px;
  }
}

/* tablet */
@media screen and (max-width: 1016px) {
  .main-navigation>.desc>.desc-title {
    font-size: 10px;
  }
  .main-navigation>.desc>.desc-subtitle {
    font-size: 10px;
  }

  .table tr th:not(:first-child):not(:last-child) {
    display: none;
    text-align: right;
  }

  .table tr td:not(:first-child):not(:last-child) {
    display: none;
    text-align: right;
  }

  tr.column-bordered {
    border-bottom: 1px solid #ddd;
  }
}

.user-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.user-image {
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: center; 
  width: 100%; 
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

#log-no{
  padding-left: 10px;
  color: darkorange;
  text-decoration: none;
  outline:none;
 }
.in-form{
  position: relative;
  margin: 0 auto !important;
  width:400px;
  border-radius: 8px;
}

.text-center{
  text-align: center;
}

 p{
  margin-top: 70px;
}

.form-control {
  display: block;
  width: 93%;
  height: calc(1.3em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  } 
   .btn-info{
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ffefb3;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: #999999;
  opacity: 1;
}

.btn-info{ 
  border:none;
  display:flex;
  background-color :#5932EA;
  border-color: #5932EA;
  display: inline-block;
  font-weight: 400;
  color:white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.3rem 0.3rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}

.btn-info:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4829b6;
  border-color: #4125a5;
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
  outline: 0;
  background-color: #7853ff;
  border-color: #7852ff;
  box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

input,.btn-bd-ra{
 border-radius: 15px !important;
}

.img-thumbnail {
  padding: 2rem;
  background-color: #F5F5F5;
  border: 1px solid #dee2e6;
  max-width: 100%;
  height: auto;
  padding-bottom:5rem;
}

.text-Lfont{
   font-weight: 700;
}

button{
  width: 90% !important;
  height: 60px !important;
  font-size: X-large !important;
  z-index: 50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}